.tablet {
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
}
.display {
    display: grid;
    grid-column: 4;
}
.calculator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.cong {
    display: flex;
    justify-content: center;
    align-items: center;
}